/* 1. Enable smooth scrolling */
/* html {
	scroll-behavior: smooth;
} */

/* 2. Make nav sticky */
.main > nav {
	position: sticky;
	top: 2rem;
	align-self: start;
}

.mainpage {
	background: #ffffff;
	padding: 0px;
	border-radius: 13px;
	max-width: 1223px;
	position: sticky;
}

/* 3. ScrollSpy active styles (see JS tab for activation) */
.section-nav li.active > a {
	color: #333;
	font-weight: 300;
}

/* Sidebar Navigation */
.section-nav {
	padding-left: 0;
	/* border-left: 1px solid #010000; */
	
}

.section-nav a {
	text-decoration: none;
	display: block;
	padding: 0.5rem 0;
	color: #000000;
	transition: all 50ms ease-in-out; /* 💡 This small transition makes setting of the active state smooth */
}

.section-nav a:hover,
.section-nav a:focus {
	color: #000000;
	/* background-color: #abc6faf7; */
	/* border-radius: 15px; */
	/* width: 100%; */
	/* padding: 7px; */
}


.section-nav ol li a {
	font: normal 14px Arial;
	/* border-top: 1px solid #ccc; */
	display: block;
	color: black;
	text-decoration: none;
	line-height: 15px;
	padding-left: 5px;
  }

  .section-nav a.active {
	background-color: #d11250;
	color: white;
	font-weight: bold;
  }

  .scrollcontent {
    max-height: 540px;
    width: auto;
    overflow: auto;
    padding-bottom: 1%;
  }



.contentview{
	/* height:90; */
	/* width: 90%; */
	/* border:1px solid red; */
	float:left;
	 overflow-y:scroll;
}
/** Poor man's reset **/
/* * {
	box-sizing: border-box;
} */

/* html, body {
	background: #fff;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
} */

ul, ol {
	list-style: none;
	margin: 0;
	padding: 0;
}
li {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

h1 {
	font-weight: 300;
}

/** page layout **/
.main {
	display: grid;
	grid-template-columns: 4fr 12em;
	max-width: 100em;
	/* width: 90%; */
	padding: 15px;
	margin: 0 auto;
	/* overflow: auto; */
	/* color: #fff; */
}

/** enlarge the sections for this demo, so that we have a long scrollable page **/
section {
	/* padding-bottom: 20rem; */
	padding:  0 0.5rem 0.5rem 0;
}







/*   
body {
	font-family: Arial, Helvetica, sans-serif;
  }
  * {
	box-sizing: border-box;
  } */
  
  /* Button used to open the chat form - fixed at the bottom of the page */
  .open-button {
	background-color: #555;
	color: white;
	cursor: pointer;
	opacity: 0.8;
	border-radius: 50%;
    width: 50px;
	animation-name: bounce-1;
	animation-timing-function: linear;
    height: 50px;
	position: fixed;
	bottom: 23px;
	right: 28px;
	/* width: 280px; */
  }

  @keyframes bounce-1 {
	0%   { transform: translateY(0); }
	50%  { transform: translateY(-100px); }
	100% { transform: translateY(0); }
}
  
  /* The popup chat - hidden by default */
  .chat-popup {
	display: none;
	position: fixed;
	bottom: 0;
	right: 15px;
	
	border: 3px solid #f1f1f1;
	z-index: 9;
  }
  
  /* Add styles to the form container */
  .form-container {
	/* max-width: 300px; */
	padding: 6px;
	background-color: white;
  }
  
  /* Full-width textarea */
  .form-container textarea {
	width: 100%;
	padding: 15px;
	margin: 5px 0 0px 0;
	border: none;
	background: #f1f1f1;
	resize: none;
	min-height: 200px;
  }
  
  /* When the textarea gets focus, do something */
  .form-container textarea:focus {
	background-color: #ddd;
	outline: none;
  }
  
  /* Set a style for the submit/send button */
  .form-container .btn {
	background-color: #04aa6d;
	color: white;
	padding: 16px 20px;
	border: none;
	cursor: pointer;
	width: 100%;
	margin-bottom: 10px;
	opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
	background-color: rgb(125, 125, 125);
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover,
  .open-button:hover {
	opacity: 1;
  }
  
  
  ::-webkit-scrollbar {
	width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	box-shadow: inset 0 0 2px rgb(161, 247, 2); 
	border-radius:10px;
  }
   
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background:#a5cd39; 
	border-radius:10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background:#a5cd39; 
  }
  
  
  
  
  